<ul>
    {{#each products}}
    <li> id: {{this.id}}</br>
        -Title: {{this.title}}
        -Description: {{this.description}}
        -Price: {{this.price}}
        -Code: {{this.code}}
        -Stock: {{this.stock}}</li>
    {{/each}}
</ul>