<h2>
  Hola {{{user.firstName}}} {{{user.lastName}}}
</h2>

<p>
  <strong>Email:</strong> {{user.email}} <br />
  <strong>Edad:</strong> {{user.age}}<br />
  <strong>Rol:</strong> {{user.rol}}
</p>

<h3>Carrito</h3>
{{#if user.cart.products}}
<ul>
  {{#each user.cart.products}}
  <li>
    <strong>Id del producto:</strong> {{{this.product._id}}}<br />
    <strong>Nombre del producto:</strong> {{{this.product.title}}}<br />
    <strong>Precio del producto:</strong> {{{this.product.price}}}<br />
    <strong>Cantidad:</strong> {{this.quantity}}
  </li>
  {{/each}}
</ul>
{{else}}
<p>No tienes productos en tu carrito.</p>
{{/if}}

<p><strong>Id del carrito:</strong>{{cartId}}</p>

<form action="/cart/{{cartId}}/purchase" method="POST">
  <button type="submit">Realizar la compra</button>
</form><br>

<button><a href="http://localhost:3001/products">Ver todos los productos</a></button>